html{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.btn-custom{
    background: #00AEEF;
    color: #fff;
    height: 40px;
    border-radius: 1px;
    font-size: 16px;
    border-radius: 2px;
}

.btn-custom:hover{
    color:#428bca;
}

.fa-check:before {
    color: green;
    padding-left: 15px;
}